body {
  font-family: Lato, Slack-Fractions, appleLogo, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #fff5ee
}

button {
  font-family: Lato, Slack-Fractions, appleLogo, sans-serif;
}

.home-header {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  grid-template-rows: 1fr;
}

.home-logo {
  width: 80px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 0px;
}

.signin-header {
  width: 400px;
  /* margin: auto; */
  text-align: center;
  margin-bottom: 30px;
}

.signin-header > h1 {
  font-size: 40px;
  font-family: 'Crete Round', serif;
  margin-bottom: 0px;
  margin-top: 0px;
}

.signin-header > p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 28px;
}

.large-orange-button {
  width: 350px;
  height: 44px;
  text-decoration: none;
  margin: auto;
  box-sizing: border-box;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 300;
  background-color: orange;
}

.large-input {
  width: 350px;
  height: 44px;
  text-decoration: none;
  margin: auto;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  font-weight: 300;
  border: 1px solid #BBBABB;
  font-family: Lato, Slack-Fractions, appleLogo, sans-serif;
}

.large-orange-button:hover {
  background-color: #ed9121
}

.home-or {
  position: relative;
  text-align: center;
  margin: 20px;
  width: 50px;
  height: 50px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff5ee;
  border-radius: 100px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 34px;
  color:gray;
  font-weight: 300;
}

.divider {
  position: relative;
  border-top: 1px solid #ddd;
  margin-top: -60px;
  margin-bottom: 40px;
  height: 0px;
  z-index: -5;
}

.demo-user-wrapper {
    margin-left: 22px;
}

span {
  color: #e01e5a;
  text-align: left;
  width: 100%;
}

.login-form {
  display: flex;
  justify-content: center;
  width: 400px;
  flex-wrap: wrap;
  margin: auto;
  gap: 20px;
}

.signup-button {
 color:orange;
 text-decoration: none;
}


.sign-up-wrapper {
  margin-top: 40px;
  margin-left: 110px;
  font-size: 14px;
  font-weight: 300;
}

.signup-button > p {
  font-size: 16px;
  font-weight: 300;
  margin-left: 15px;
}
