.note-editor-container {
  width: 55%;
  padding: 20px;
  background-color: #fff;
  /* border-radius: 8px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.note-update-container {
  width: 85%;
  padding: 20px;
  background-color: #fff;
  /* border-radius: 8px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.note-label {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-bottom: 3px;
}

.note-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select-input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-items: center;
}

.select-input-edit{
  width: 70%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-items: center;
  margin-left: 10px;
}

.select-input-tags {
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-items: center;
  height: 45px;
  width: 72%;
}

.select-input-tags-edit{
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-items: center;
  height: 45px;
  width: 70%;
  margin-left: 48px;
}

.select-input-pin {
  border: 1px solid #ccc;
  width: 24%;
}
.tags-list{
  margin-left: 50px;
  font-weight: 400;
  font-size: 14px;
  display: flex;
}

.tags-list-detail{
  background-color: #d0cccc8f;
  border-radius: 10px;
  padding: 0 8px 0 8px;
}
.note-title-input {
  font-size: 20px;
  font-weight: 600;
}

.note-content-input {
  height: 88%;
  font-size: 16px;
}

.note-editor-form {
  height: 98%;
}

.note-editor-form > input:focus,
textarea:focus {
  outline: none;
}

.option-wrapper-big {
  justify-content: space-between;
  display: flex;
  margin-bottom: 10px;
  align-items:end
}

.option-wrapper-create {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* .option-wrapper-limit {
  align-self: center;
  justify-content: end;
} */

.option-wrapper-big > button {
  background-color: orange;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  float: right;
  margin-bottom: 2px;
  align-items: center;
}
.option-wrapper-small{
  display: grid;
}
.option-wrapper-small > button {
  background-color: orange;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  float: right;
  margin-bottom: 2px;
  align-items: center;
}

.botton-display-right > button{
  padding:0 25px 5px 15px
}


.option-wrapper-small button:hover {
  background-color: #fc8a17;
}

.botton-display-left {
  display: grid;
  width: 300px;
}

.botton-display-right > button {
  background-color: white;
  border: none;
  font-size: 10px;
  cursor: pointer;
  color: orange;
  margin-left: 10px;
  float: right;
}

.botton-display-right > button:hover {
  background-color: white;
  color: #fc8a17;
}

.botton-display-right > button:hover::after {
  content: "Delete";
  /* top:8px; */
  /* right:43px; */
  position: absolute;
  font-size: 12px;
  color: gray;
  border: 1px solid black;
  padding: 2px;
  border-radius: 2px;
  font-weight: 500;
}

.ql-toolbar {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; 
}
.ql-editor {
  font-size: 16px;
}

.note-editor-content {
  height: 770px;
}
