.outer-navbar-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 15%;
  min-width: 150px;
  background-color: lightgray;
  height: 100%;
}

.profile-info-wrapper{
  padding: 12px;
  display: flex;
  align-items: center;
  gap:5px;
}


.profile-info-main > p{
   font-size: 12px;
   margin-top: 2px;
   margin-bottom: 2px;
}
.outer-navbar-middle{
margin-top: 30px;
}
.outer-navbar-middle > button {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background-color: orange;
  border: none;
  font-size: 16px;
  height: 30px;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.outer-navbar-middle > button:hover {
  background-color: #FC8A17
}
.outer-navbar-bottom1{
  display: grid;
  gap:5px;
  margin-top: 5px;
  /* margin-top: 20px; */
}

.outer-navbar-bottom1 > button
/* .outer-navbar-bottom2 > button  */
{
  width: 95%;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 15px;
  background-color: lightgray;
  border: none;
  font-size: 16px;
  height: 30px;
  margin-left: 5px;
  margin-top: 3px;
  text-align: center;
  cursor: pointer;
}

.profile-dropdown {
  /* display: flex;
  flex-direction: column;
  border-radius: 7px;
  list-style-type: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 80px;
  bottom: 70px;
  background-color: var(--color-background);
  color: var(--color-font);
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  gap: 0px;
  width: 200px;
  overflow: hidden;
  padding-top: 10px; */
  position:relative;
  top: 58px;
  left:5px;
  list-style-type: none;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  /* z-index: 1; */
  transition: opacity 0.3s ease-in-out;
  border-radius: 3px;
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown > button{
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.outer-navbar-profile-button > button {
  background-color: lightgray;
  border: none;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  align-items: center;
  color:#333333
}

.outer-navbar-profile-button > button:hover {
color: whitesmoke

}

.outer-navbar-profile-button {
  display: flex;
  gap: 8px;
}

.outer-navbar-top {
  display: flex;
  justify-content: start;
}

.outer-navbar-top > button {
  background-color: lightgray;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.outer-navbar-divider {
  border-top: 1px solid lightgray;
  margin-top: 3px;
  margin-bottom: 5px;
}
