.all-notebook-wrapper {
  padding: 20px;
  width: 85%;
  font-size: 15px;
  background-color: white;;
  height: 100%;
}

.all-notebook-header {
  font-size: 20px;
   color:#333333
}

.all-notebook-title {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color:#333333
}
.all-notebook-side {
  display: flex;
  align-items: center;
}
.all-notebook-side > button {
  display: flex;
  align-items: center;
  background-color: white;
  color: orange;
  text-align: center;
  border: none;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
}

.all-notebook-side :hover{
color:#FC8A17

}

.notebook-divider {
  position: relative;
  border-top: 2px solid black;
  margin-top: -5px;
  /* margin-bottom: 20px; */
  margin-bottom: 12px;
  height: 0px;
}
.all-notebook-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.all-notebook-title-wrapper  > button {
  border: none;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
}

.all-notebook-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#313131
}

.notebook-attribute-1 {
  width: 300px;
  height:17px;
  overflow: hidden;
  
}
.notebook-attribute-1 > button {
  border: none;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
}

.notebook-attribute-time{
  width: 130px;
}

.notebook-attribute-title {
  width: 275px;
  margin-left: 25px;
  flex-grow: 1;
  height:17px;
  overflow: hidden;
}

.all-notebook-list > button {
  border: none;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
}

.action-dropdown.hidden {
  display: none;
}

.action-dropdown {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: absolute;
  right: 38px;
  overflow: hidden;
  border: 1px solid lightgray;
  border-radius: 3px;
  background-color: white;
}



.action-dropdown > button {
  background-color: white;
  font-size: 15px;
  border: none;
  padding:6px 10px 6px 10px;
  cursor: pointer;
   color:#333333
}

.action-dropdown > button:hover {
background-color:#dbd9d9;
}

.outer-navbar-popup-divider {
  border-top: 1px solid lightgray;
}

.notebook-action-wrapper > button {
  border: none;
  background-color: white;
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
  color:#333333;
}

.notebook-action-wrapper > button:hover {
  background-color:#dbd9d9;
  border-radius: 5px;
}

.all-note-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 7px;  
}


.all-notebook-container{
  margin-bottom: 8px;
}

.note-title-link > a{
  text-decoration: none;
  color:#313131
}

.note-title-link > a:hover{
text-decoration: underline
}

.notebook-create-new{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:3px
}
.notebook-attribute-1,
.notebook-attribute,
.notebook-attribute-time,
.notebook-attribute{
  color: #333333
}

.dropdown-menu-option{
  padding: 2px 5px 2px 5px;

}
